@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&display=swap');

body{
    font-family: 'lato' sans-serif;
    background-color:#D1D1D1;
    overflow: hidden;
}
.area-login{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #7a7a7a;
    width: 360px;
    height: 300px;
    padding: 36px;
    border-radius: 10px;
}
.login form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.login input{
    margin-top: 10px;
    padding-left: 10px;
    color: #050505;
    border: none;
    height: 45px;
    outline: none;
    border-radius: 8px;    
}
.login img{
    width: 60px;
    height: auto ;
}
.login::placeholder{
    color: #050505;
    font-size: 14px;
}
form [type="submit"]{
    display: block;
    background-color: #636363;
    font-size: 16px;
    cursor: pointer;
}
p{
    color: aliceblue;
}
a{
    color: #D1D1D1;
    text-decoration: none;
    margin-left: 4px;
    font-family: 'lato' sans-serif;
}
/*--------footer toperson----------*/
#footer-details{
    margin-left: 320px;
    padding: 20px;
}
.footer-text{
    
    align-items: center;
}
.footer-text ul li{
    display: inline;
    margin: 10px;
    color: #7a7a7a;
}