body{
    background-color: #FDDA0D;
}
h1{
    text-align: center;
    
       
}
h2{
    text-align: center;
    font-size: larger;
    font-family: cursive;
}
div{
    text-align:center;
}
h3{
    text-align: center;
    font-size: larger;
    font-family: cursive;

}